<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AI_core.com</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
  </head>
  <body>
   
      {% csrf_token %}
      
      {% for message in messages %}
      <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
      <strong>message:</strong> {{message}}
      <button type="button" class="close" data-dismiss="alert" arial-label="close">
      <span aria-hidden="true">&times;</span>
      </button>
      </div>
      {% endfor %}

        {% if user.is_authenticated %}
        <h3>hello {{fname}} </h3>
        <h1>Welcome to My Website</h1> 
        <h2>hello successfully loged in</h2>
        <button type="submit"><a href='signout'>sign out</a></button>
        {% endif %}

    
	<script src="index.js"></script>
  </body>
</html>